.backgroundImage{
  background-image:url("./resources/images/the-flatiron-building.png")
}
h1, h3, p{
  font-family: Helvetica;
  text-align: center;
}
.header{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
a{
  color:white;
}
#processHeader{
  font-size: 32px;
  font-weight: bold;
}
.subheaders{
  font-size: 23px;
  font-weight: bold;
}
.descriptions{
  font-size: 14px;
}
#bottom{
  font-size: 23px;
  font-weight: bold;
  color: White;
  background-image: url("./resources/images/the-flatiron-building.png");
}
.footer{
  background-color:dimgray;
  color:white;
  font-size: 11px;
  text-align:left;
}
a{
  font-size:18px;
  color:white;
}
